<form name="container-form" class="m-4" method="POST" action="/courses/handle-form-actions">
    <h3>KHÓA HỌC ĐÃ XÓA</h3>
    <a href="/me/stored/courses">Danh sách khóa học</a>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <div class="form-check mb-2">
          <input class="form-check-input" type="checkbox" id="check-box-all">
          <label class="form-check-label" for="autoSizingCheck">
            Chọn tất cả
          </label>
        </div>
      </div>
      <div class="col-auto">
        <select class="input-group mb-2 form-control form-control-sm" name="actionSelect" required>
          <option value="">--- Chọn ---</option>
          <option value="restore">Khôi phục dữ liệu chọn</option>
          <option value="delete-force">Xóa vĩnh viễn dữ liệu chọn</option>
        </select>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2 btn-sm btn-check-all-submit" disabled="disabled">Áp dụng</button>
      </div>
    </div>
    <table class="table">
        <thead>
            <tr>
            <th scope="col" colspan="2">#</th>
            <th scope="col">Tên khóa học</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Video Id</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            
                <tr>
                    <td>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="courseIds[]" value="{{this._id}}">
                      </div>
                    </td>
                    <th scope="row">{{sum @index 1}}</th>
                    <td style="max-width: 10rem;">{{this.name}}</td>
                    <td style="max-width: 30rem;">{{this.description}}</td>
                    <td>{{this.videoId}}</td>
                    <td>
                        <a class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                        <a class="btn btn-link"  data-toggle="modal" 
                                    data-target="#delete-courses-model"
                                    data-id="{{this._id}}">Xóa vĩnh viễn</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">Thùng rác trống</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!----}}
<div id="delete-courses-model" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể khôi phục. Bạn vẫn muốn xóa khóa học này?.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var btnDeleteCourse = document.getElementById("btn-delete-course");

        var btnRestore = $('.btn-restore');
        var restoreForm = document.forms['restore-course-form'];

        
        var checkboxAll = $('#check-box-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var checkAllSubmit = $('.btn-check-all-submit');
        var containerForm = document.forms['container-form'];


        //Khi dialog comfirm delete
        $('#delete-courses-model').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            courseId = button.data('id') 
        });
        btnDeleteCourse.onclick = function(){
            deleteForm.action = '/courses/force/'+ courseId+'?_method=DELETE';
            deleteForm.submit();
        };
        
        btnRestore.click(function(e){
          e.preventDefault();
          var idRestore = $(this).data('id');
          restoreForm.action = '/courses/restore/'+ idRestore +'?_method=PATCH';
          restoreForm.submit();
        });

checkboxAll.change(function(){
          var isCheckAll = $(this).prop('checked');
          courseItemCheckbox.prop('checked', isCheckAll);
          renderCheckAllSubmitBtn();
        });

        courseItemCheckbox.change(function(){
          var isCheckAll = courseItemCheckbox.length == $('input[name="courseIds[]"]:checked').length;
          checkboxAll.prop('checked', isCheckAll);
          renderCheckAllSubmitBtn();
        })

        checkAllSubmit.on('submit',function(){
          var isSubbmitable = $(this).is(':disabled');
          if(!isSubbmitable){
            e.preventDefault();
          }
        })
        //Khi check vào các checkbox thì chạy hàm này
        //Disable/Enable button áp dụng
        function renderCheckAllSubmitBtn(){
          var checkCount = $('input[name="courseIds[]"]:checked').length;
          checkAllSubmit.prop("disabled", !checkCount > 0);
        }
    });
</script>

